<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
  <title>Pi-Meteo</title>
  <script src="{{ url_for('static', filename='chartjs/chart.js') }}"></script> 
</head>
<body class='bg-dark'>
  <div class='container-fluid'>
  <div class='row p-3'>

    <div class='container-sm col text-center'>
      <div class='bg-primary p-2 rounded-5'>
        <p class='h2'>Temperatura:</p>
	<p class='h1 fw-bold'>{{temp}}°C</p>
      </div>
    </div>

    <div class='container-sm col text-center'>
      <div class='bg-warning p-2 rounded-5'>
        <p class='h2'>Ciśnienie:</p>
	<p class='h1 fw-bold'>{{press}} hPa</p>
      </div>
    </div>

    <div class='container-sm col text-center'>
      <div class='bg-success p-2 rounded-5'>
        <p class='h2'>Wilgotność:</p>
	<p class='h1 fw-bold'>{{hum}}%</p>
      </div>
    </div>
  
  </div>
  </div>
  <br>
  <p class='h3 text-light text-center'>Pomiar: {{date}}</p>
  <br>
  <br>
  <div class='container-sm'>
	  <p class='h5 text-light text-center'>Pomiary z ostatniej godziny:</p>
	  <canvas id="temp1h" width="100%" height="30%"></canvas>
  </div>
  <br>
  <div class='container-sm'>
	  <canvas id="press1h" width="100%" height="30%"></canvas>
  </div>
  <br>
  <div class='container-sm'>
	  <canvas id="hum1h" width="100%" height="30%"></canvas>
  </div>
  <br>
  <div class='text-center'>
  <button type="button" class="btn btn-outline-danger btn-lg">Więcej wykresów</button>
  </div>
  <br>
  <script src="{{ url_for('static', filename='gencharts.js') }}"></script>
</body>
</html>
